body {
  font-family: "Garamond", serif;
}

header {
  padding: 4rem 0;
}

section + section {
  margin-top: 4rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.footer-logo img {
  display: block;
  max-width: 160px;
  margin: 0 auto;
}

.hero {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 5rem;
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-text h1 {
  font-size: 1.45rem;
}

.hero-img {
  display: block;
  width: 1200px;
}

.treatment-container {
  display: flex;
}

@media (min-width: 600px) {
  .hero-text {
    max-width: 580px;
  }
}

@media (min-width: 1200px) {
  .hero-text {
    max-width: 600px;
    top: 16vw;
    left: auto;
    right: 47.5vw;
    transform: translateY(-50%);
  }

  .hero-img {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .hero-text {
    right: 50vw;
    max-width: 600px;
    font-size: 1.35rem;
  }

  .hero-text h1 {
    font-size: 1.875rem;
  }
}

@media (min-width: 1600px) {
  .hero-text  {
    max-width: 720px;
    font-size: 1.65rem;
  }

  .hero-text h1 {
    font-size: 3.5rem;
  }
}