body, html {
  font-family: "Garamond", serif;
  padding: 0px;
  margin: 0px;  
}

header {
  padding: 4rem 0;
}

section + section {
  margin-top: 4rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6EBE7;
  padding: 3rem;
}

.logo img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.hero {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 5rem;
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-text h1 {
  font-size: 1.45rem;
}

.hero-img {
  display: block;
  min-width: 400px;
}

section.treatments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treatment-container {
  flex-flow: row wrap;
  display: flex;
  margin-top: 2rem;
}

.treatment-icon img {
  max-width: 60px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.treatment-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 10px;
}

.treatments h6 {
  margin: 1rem;
}

.treatment-btn {
  padding: 1rem 2rem 1rem 2rem;
  margin: 2rem 2rem 4rem 2rem;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  color: white;
  font-weight: bold;
  background-color: black;
  border: none;
  cursor: pointer;
}

.footer-logo img {
  max-width: 160px;
  margin: 0 auto;
}

footer h6 {
  font-weight: normal;
}


@media (min-width: 600px) {
  .hero-text {
    max-width: 580px;
  }
}

@media (min-width: 1200px) {
  .hero-text {
    max-width: 600px;
    top: 16vw;
    left: auto;
    right: 47.5vw;
    transform: translateY(-50%);
  }

  .hero-img {
    width: 100%;
  }

  .treatment-icon img {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .treatments h6, .treatments p {
    font-size: 1.2rem;
  }

  footer h6 {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  .hero-text {
    right: 50vw;
    /* max-width: 600px; */
    font-size: 1.35rem;
  }

  .hero-text h1 {
    font-size: 1.875rem;
  }

  .treatments h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1600px) {
  .hero-text  {
    max-width: 720px;
    font-size: 1.65rem;
  }

  .hero-text h1 {
    font-size: 3.5rem;
  }

  .treatments h2 {
    font-size: 2rem;
  }
}