.service-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-image: url("./assets/images/treatments-background.png");
  background-position: left;
  /* background-size: cover;
  background-position: right; */
}

.service-info-text {
  max-width: 800px;
}

.service-info-text h1 {
  font-size: 2rem;
  font-weight: 500;
}

.service-info-text p {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #000000d1;
}

.section-wrapper {
  margin: 0 auto;
}

.section-wrapper:nth-child(odd) {
  background-color: #f6ebe7;
}

.section-wrapper h2 {
  padding-top: 3rem;
  color: #000000d1;
}

.service-section-intro {
  text-align: center;
}

.service-section-intro p {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
  color: #000000d1;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.services p {
  color: #000000d1;
  margin-top: 0.5rem;
}

.services h4 {
  margin: 0px;
  color: #000000d1;
}

.service {
  display: flex;
  padding: 1rem;
}

.service-description {
  width: 100%;
}

.service-description p {
  margin-bottom: 0px;
}

.service-price p {
  margin-top: 0px;
}

@media (min-width: 600px) {

  .services {
    margin: 0 auto;
  }

  .service-info-text {
    max-width: 600px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .service-info-text h1 {
    font-size: 2.5rem;
  }

  .service-info-text p {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {

  .service-info-text {
    max-width: 800px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .service-info-text h1 {
    font-size: 3rem;
  }

  .section-wrapper h2 {
    font-size: 2rem;
  }

  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
  }

  .service {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .service-info {
    background-size: cover;
    background-position: right;
  }

  .service-info-text {
    max-width: 800px;
  }

  .services h4 {
    font-size: 1.4rem;
  }

  .services p {
    font-size: 1.1rem;
  }
}
