* {
  font-family: "Garamond", serif;
  box-sizing: border-box;
}

header {
  display: unset;
  height: 300px;
  padding: 4rem 0;
}

section + section {
  margin-top: 4rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6ebe7;
  padding: 3rem;
}

.topnav {
  display: unset;
}

.logo-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.logo img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.navMenu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  min-width: 350px;
  background-color: white;
  z-index: 1;
}

.navMenu a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
  color: #000000d1;
  text-decoration: none;
  cursor: pointer;
}

.navMenu a:active {
  text-decoration: underline;
}

footer h6 {
  font-weight: normal;
}

.footer-logo img {
  max-width: 160px;
  margin: 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}

.social-icons img {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 600px) {
  .navMenu a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1200px) {
  footer h6 {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
}