* {
  font-family: "Garamond", serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden !important;
}

header {
  display: unset;
  height: 300px;
  padding: 4rem 0;
}

section + section {
  margin-top: 4rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6ebe7;
  padding: 3rem;
}

.logo-container {
  margin-top: 4rem;
}

.logo img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.hamburger-logo img {
  display: block;
  max-width: 200px;
  margin: 4rem auto;
}

.nav-menu {
  display: flex;
  visibility: hidden;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 3rem;
  min-width: 350px;
  background-color: white;
  z-index: 1;
}

.nav-menu-desktop {
  display: none;
}

.nav-menu a {
  font-size: 1.5rem;
  color: #000000d1;
  text-decoration: none;
  cursor: pointer;
}

.nav-menu a:active {
  text-decoration: underline;
}

footer h6 {
  font-weight: normal;
}

.footer-logo img {
  max-width: 160px;
  margin: 0 auto;
}

/* .book-btn {
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 2rem;
  padding: 0.5rem;
  width: 240px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.book-btn:hover {
  background-color: #f9d9cd;
  box-shadow: 0px 15px 20px rgba(244, 241, 210, 0.938);
} */

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}

.social-icons img {
  width: 2rem;
  height: 2rem;
}

.gallery h1 {
  width: 5rem;
  margin: auto;
  margin-bottom: 2rem;
}

.slider {
  min-width: 400px;
  margin-bottom: 5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.slick-slide img {
  width: 100%;
}

.slick-slide div {
  outline: none;
}

.hamburger {
  position: absolute;
  right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: transparent;
  border: none;
  z-index: 2;
  cursor: pointer;
}

.hamburger span {
  width: 2rem;
  height: 0.25rem;
  background-color: #000000d1;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: #f6ebe7;
  transition: transform 0.15s ease-in-out;
}

.mobileNav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
}

.mobileNav a {
  display: block;
  width: 100%;
  font-size: 3.1vh;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #000000d1;
}

.mobileNav a:active, .mobileNav a:focus, .mobileNav a:hover {
  text-decoration: underline;
}

.mobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem 2rem;
}

@media (min-width: 600px) {
  .logo-container {
    margin-bottom: 2rem;
  }

  .nav-menu {
  visibility: visible;
  margin-bottom: 3rem;
  }

  .nav-menu a {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 1200px) {
  footer h6 {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }

}
